#emotionDetect-image{
    width: auto;
    height:300px;
}

.accentText {
    color: #a239ca
}

.body{
    background: rgb(39, 39, 39)
}
.videocontainer{
   margin-top: 30px;
}

.title{
    font-family: 'Syncopate', sans-serif;

}